server/node_modules
client/uploads
server/email
.idea/
server/package-lock.json

## Put Back @live
#server/
#server/routes
#server/server.js
#server/app.js

#Unignore these if changes made there:
#!*/server/routes/api.js
#!*/server/models/*
